.body {
    margin: 0;
    max-height: 150px;
}
/* columms */
.collums {
    display: grid;
    max-width: auto;
    margin: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:repeat(12, 48px) ;
    grid-auto-rows: 48px;
    gap: 1.2rem;
}

/* bild */
.home-screen-bild {
    background-position: center;
    background-size: cover;
    background-image: url(bilder/giphy.gif);
    padding: 1.25rem;
    grid-column: span 12;
    grid-row: span 13;
}
/* texter */
.text-design{
position: absolute;
left: 31.31%;
right: 31.57%;
bottom: 33.57%;

font-family: Playfair Display SC;
font-style: normal;
font-weight: normal;
margin: 0;
font-size: 90px;
text-align: center;

color: #F8FFAD;
}


/* menu */
/* The navigation bar */
.navbar {
    overflow: hidden;
    border: 0;
    position: fixed; 
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
  }
  .border{
        border-style: solid;
        border-color: rgb(255, 255, 255);
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: rgb(63, 63, 63);
    color: rgb(255, 255, 255);
    
  }
