    body {
        background-color: rgb(61, 61, 61);
        margin: 0%;
    

}

    .image1{
        background-image: url("bilder/giphy.gif"); 
        background-color: #cccccc; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
}

/* -----------------menu-------------menu-------------menu--------------- */

      .grid-container {
        display: grid;
        grid-template-columns: 1fr 7fr 1fr;
        grid-template-rows: 100px 960px;
        grid-gap: 0;
      }
      
      .grid-container > div:nth-child(1) {
        display: flex;
        justify-content: space-evenly;
        border-style: solid;
        padding: 10px;
        color: white;

      }

      .grid-container > div:nth-child(2) {
        display: flex;
        justify-content: space-evenly;
        border-style: solid;
        border-left: none;
        border-right: none;
        padding: 10px;
        color: white;
      }
      
      .grid-container > div:nth-child(3) {
        display: flex;
        justify-content: space-evenly;
        border-style: solid;
        padding: auto;
        color: white;
      }

      .menu{
          margin: auto;
      }


/* ---------line----------------line------------------line-------- */
.grid-side-rihgt {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
  }

      .line1 {
        grid-column: 3;
        grid-row: 1 / span 5;
        display: flex;
        justify-content: center;
        position: relative;
        border-right: 3px solid white;

        
    }

    .grid-side-left {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        padding: 10px;
      }
    

    .line2 {
        display: flex;
        justify-content: center;
        position: relative;
        border-left: 3px solid white;

    }

/* --------------main----------------main---------------Main------------ */

    .grid-main-col {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 10px;
            padding: 10px;
          }
          
    .Design{
        grid-column: 2 / span 3;
        grid-row: 2 / span 3;
        font-family: Playfair Display SC;
        position: relative;
        font-style: normal;
        font-weight: normal;
        margin: 0;
        font-size: 90px;
        text-align: center;
    
        color: #F8FFAD;

    }
    .design-knap {
        grid-column: 3;
        grid-row: 3 / span 2;
        display: flex;
        padding: 20px;
        position: absolute;
        width: auto;
        border: 1px solid #FFFFFF;

        /* -----------text i border---------- */

        position: static;
        margin: auto;

        font-family: Palatino Linotype;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;

        color: #FFFFFF;
}

/* ------------side-text---------side-text-------------side-text----------- */

    .side-test{
        position: absolute;

        font-family: Playfair Display SC;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        line-height: 96px;
        /* identical to box height */

        text-align: center;

        color: #F8FFAD;
    }